*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.container,
.logo__container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #5e5e5e;

}
.header__top{
  background-color: #303030;
}
.header__btn{
  float: right;
  line-height: 36px;
  color: #1b1b1b;
  background-color: #ffc222;
  padding: 5px 20px 4px 50px;
  font-size: 16px;
  display: block;
  position: relative;
}
.header__btn:before{
  content: "\f0c0";
  font-family: 'icomoon';
  position: absolute;
  left: 22px;
}
.header__contacts:after{
  content: "";
  clear: both;
  display: block;
}
.header__phone,
.header__email{
  color: #cbcacb;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.header__phone{
  padding-left: 20px;
  padding-right: 30px;
}
.header__phone::before{
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__email{
  padding-left: 24px;
}
.header__email::before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;

}
.header__content{
  padding: 20px 0px 23px;
}
.header__content-inner{
  display: flex;
  justify-content: space-between;
}
.menu li{
  padding: 10px;
  display: inline-block;
}
.menu a{
  color: #323232;
  font-size: 16px;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0px 16px;
  transition: all .3s;
}
.menu a:hover{
  border-color: #ffc222;

}
.menu li + li{
  padding-left: 10px;
}
#modal{
  display: none;
}
.acord{
  display: block;
  margin: 0 auto;
}
.team,
.user{
  text-align: center;
}
.slider{
  background-image: url(../img/slider-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.slider__item{
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}
.slider__title,
.kazka__title{
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 22px;
}
.slider__text{
  line-height: 24px;
  font-size: 18px;
  color: #d3d2d2;
  margin-bottom: 100px;
}
.slider__btn{
  display: inline-block;
  font-size: 14ps;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  padding: 8px 24px 8px 24px;
  border: 2px solid #ffc222;
}
.about{
  padding: 50px 0px 30px;
}
.about__top,
.present__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.about__title-box,
.present__title-box{
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}
.about__title-box:before,
.present__title-box:before{
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  left: 0;
  top: 11px;
}
.about__title,
.present__title{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #212020;
  margin-bottom: 10px;
}
.about__text{
  letter-spacing: 0.1px;
}
.about__btn a,
.present__btn a{
  color: #373636;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
}
.about__items{
  display: flex;
  justify-content: space-between;

}
.about__item{
  max-width: 360px;
  text-align: center;
  padding: 30px 0px 40px;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px rgba(91, 89, 89, 0.14);
}
.about__item-title{
  color: #212020;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 24px 0px;
}
.about__item-text{
  letter-spacing: 0.1px;
  padding: 0px 30px;
}
.kazka{
  background-image: url(../img/foto-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
}
.kazka__title{
  text-align: center;
  padding-top: 175px;
  font-size: 30px;
}
.present{
  padding: 50px 0px 30px;
}
.present__content{
  text-align: center;
}
.footer__content{
  background-color: #595959;
  padding: 20px 0px 30px;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__logo{
  float: right;
  padding-top: 20px;
}
.footer__title{
  font-weight: 500px;
  font-size: 25px;
  color: #fff;
  line-height: 36px;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}
.footer__text{
  color: #d3d2d2;
  margin-bottom: 20px;
  padding-right: 50px;
}
.footer__list li{
  margin-top: 10px;
  color: #fff;
  padding-bottom: 10px;
}
.footer__list a{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #fff;
  font-weight: 400;
}
.footer__copy{
  background-color: #303030;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 0px;
  font-weight: 400;
  color: #fff;
}
